header .logo {
    width: 100px
}

header nav ul li {
    display: inline-block;
    width: 90%;
}

#MainPageSlider {
    height: 300px;
    text-align: center;
}

main article section {
    display: inline-block;
    width: 33%;
}